body
{
padding:0;
margin:0;
background-color:white;
min-width:700px;
width:970px;
margin-left:auto;
margin-right:auto;
background-position:left-top;
background-repeat:repeat-x;
font-family:Verdana, Ariel, Helvetica, sans-serif;
font-size:80%;
}


#header
{
	height:150px;
}

#logo_image 
{
	float: left;
	position: Relative;
}

#logo_image img
{
	border: none;
	padding:10px;
}

#notice
{
	color:Red;
	font-weight: bold;
	margin-left:30px;
	margin-bottom: 30px;
}

#error
{
	color:Red;
	font-weight: bold;
	margin-left:30px;
	margin-bottom:30px;
}

#join_now_text
{
	clear:both;
	text-align: right;
}

#content
{
	margin:50px 0px 50px 50px;
	padding: 5px;
}

#footer
{
	text-align: center;
	color:#bbb;
	bottom:0px;
}

/* User styles*/
#signup_content
{
	padding-left: 50px;
	width:380px;
	text-align:right;
}

.title
{
	font-weight:bold;
}

.signup_field,.login_field
{
	white-space:nowrap;
	padding-bottom:.5em;
	text-align:left;
}

.signup_field label, .login_field label
{
	display: block;
	float: left;
	margin-right:0.5em;
	text-align:right;
	width:12em;
}

.signup_field input, .login_field input
{
	text-align:left;
}

#user_menu
{
	float:right;
	font-weight:bold;
	margin-right:35px;
	margin-top:15px;
}

#user_menu a, #user_menu a:visited
{
	color:orange;
}

.signin_box
{
	float:left;
	background: #cccccc;
	border: solid 1px #f98919;
	
	padding-bottom:6px;
	padding-top:8px;
	padding-right: 10px;
	margin-top: 10px;
	text-align: right;
	width: 250px;
	height: 120px;
}

#signin_form, #signin_button
{
	margin:0px;
	padding: 0px;
}

#sign_in_title
{
	padding-bottom: 5px;
	text-align:left;
	margin-left:20px;
	color:gray;
	font-weight: bold;
	font-size: 12pt;
}

#signin_section
{
	float:right;
	margin-right: 25px;
}

.signin_field
{
	margin-bottom:8px;
	color:gray;
}
