body
{
padding:0;
margin:0;
background-color:white;
min-width:700px;
width:970px;
margin-left:auto;
margin-right:auto;
background-position:left-top;
background-repeat:repeat-x;
font-family:Verdana, Ariel, Helvetica, sans-serif;
font-size:80%;
}


#header
{
	height:150px;
}

#logo_image 
{
	float: left;
	position: Relative;
}

#logo_image img
{
	border: none;
	padding:10px;
}

#notice
{
	color:Red;
	font-weight: bold;
	margin-left:30px;
	margin-bottom: 30px;
}

#error
{
	color:Red;
	font-weight: bold;
	margin-left:30px;
	margin-bottom:30px;
}

#join_now_text
{
	clear:both;
	text-align: right;
}

#content
{
	margin:50px 0px 50px 50px;
	padding: 5px;
}

#footer
{
	text-align: center;
	color:#bbb;
	bottom:0px;
}
