<div id="signup_content">
	<span class="title">Sign-up for a bookshelf account...</span>
	<% form_for :user, @user, :url => {:action => "signup"} do |f| %>
		<%= error_messages_for 'user' %><br />
	
		<div class="signup_field">
			<label for="user_email">Email:</label>
			<%= f.text_field :email %><br />
		</div>
		
		<div class="signup_field">
			<label for="user_password">Password:</label>
			<%= f.password_field :password %><br />
		</div>
		
		<%= submit_tag "Signup" %>
		
	<% end %>
</div>
